[submodule "deps/libusb"]
	path = deps/libusb
	url = https://github.com/arekinath/libusb
[submodule "deps/pcsclite"]
	path = deps/pcsclite
	url = https://anonscm.debian.org/git/pcsclite/PCSC.git
[submodule "deps/ccid"]
	path = deps/ccid
	url = https://anonscm.debian.org/git/pcsclite/CCID.git
[submodule "deps/libressl"]
	path = deps/libressl
	url = https://github.com/arekinath/libressl-portable
